altgraph==0.17
asgiref==3.2.10
decorator==4.4.2
Django==3.1
django-cors-headers==3.4.0
future==0.18.2
networkx==2.5
numpy==1.19.1
pefile==2019.4.18
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
python-louvain==0.14
pytz==2020.1
pywin32-ctypes==0.2.0
sqlparse==0.3.1
