$primary-color: #ccc;

/* 改变主题色变量 */
$--color-primary: $primary-color;

$bg-color: #405374;

.wrapper {
  border: 1px solid $primary-color;
  padding: 10px;
  margin-top: 15px;
}

.text-cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.el-button--primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.router-link-active {
  text-decoration: none;
}
